@page
@model ExamModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        body{
          margin:0px;
          padding: 0px;
          background-color: #FFFFFF;
        }
    </style>
</head>

<header>
    <div id="header-left">
        <div id="header-left-top">
            <h2 id="text-logo" class="blue">AtosLearning</h2>
            <h3 class="blue">Profesores</h3>
        </div>
        <div class="header-left-bottom">
            <h3 id="page-title" class="yellow">Crear examen</h3>
        </div>
    </div>
    <div id="header-right">
                <div id="right-side-name">
                    <h3>Thomas Rubio</h3>
                    <h4>Ver mi perfil</h4>
                </div>
    <div id="right-side-img">
        <img id="user-img" src="images/profile-icon.png" alt="profile">
    </div>
    </div>
</header>

<div class="container">
    <div class="row align-items-center">
        <div class="col text-center">
            <button type="button" class="btn rounded-button" style="width: 300px; height: 200px; border-color: #3B3468">Poner foto de portada</button>
        </div>
        <div class="col">
            <form method="post" asp-page-handler="SaveExam" id="exam-form">
            <input asp-for="ExamTitle" class="form-control exam-field" id="exam-title" placeholder="Nombre del examen">
            <input asp-for="ExamDescription" class="form-control exam-field" id="exam-description" placeholder="Descripción">
            </form>
            <input class="form-control" placeholder="Temario">
        </div>
        <div class="col">
            <form method="post" asp-page-handler="SetSelectedSubject" id="subject-form">
                <input type="hidden" name="ExamTitle" id="hidden-exam-title" value="@Model.ExamTitle"/>
                <input type="hidden" name="ExamDescription" id="hidden-exam-description" value="@Model.ExamDescription"/>
                <button class="btn btn-secondary btn-lg dropdown-toggle" id="subject-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @if (Model.SelectedSubject != null)
                    {
                        @Model.SelectedSubject.Name
                    }
                    else
                    {
                        <span>Selecciona una materia</span>
                    }
                </button>
                <ul class="dropdown-menu">
                    @foreach (var subject in Model.Subjects)
                    {
                        <li>
                            <button class="dropdown-item" onclick="onSelectDropdown()" name="subjectId" value="@subject.ID">@subject.Name</button>
                        </li>
                    }
                </ul>
            </form>
        </div>
    </div>
    <div class="row align-items-center text-center">
        <div class="col-4">
            <div class="card bg-light mx-auto" style="height: 300px; width: 200px; overflow-y:  auto; margin-left: 20px">
                <div class="card-body">
                    <ul class="btn list-group list-group-flush" id="questions-list">
                        <li class="list-group-item border-bottom" style="background-color: transparent">Pregunta 1</li>
                    </ul>
                </div>
            </div>
            <button class="btn rounded-button" onclick="addQuestion()">Añadir Pregunta</button>
        </div>
        <div class="col">
            <form method="post" asp-page-handler="AddQuestion">
                <div class="col">
                    <input asp-for="CurrentQuestion.Title" type="text" class="custom-text-field" placeholder="Escribe la pregunta">
                </div>
                <div class="container my-4">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Option1" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: blue" placeholder="Opción A">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Option2" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: green" placeholder="Opción B">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Option3" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: orange" placeholder="Opción C">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Option4" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: red" placeholder="Opción D">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <select asp-for="CurrentQuestion.Answer" class="dropdown-toggle btn-lg">
                            <option value="">Respuesta correcta</option>
                            <ul class="dropdown-menu">
                                @for (int i = 1; i < 5; i++)
                                {
                                    <option class="dropdown-item" value="@i">@i</option>
                                }
                            </ul>
                        </select>
                        <input type="hidden" name="ExamTitle" value="@Model.ExamTitle"/>
                        <input type="hidden" name="ExamDescription" value="@Model.ExamDescription"/>
                        <button class="btn rounded-button" type="submit" style="border-bottom-width: 2px; width: 30%; height: 50px; border-radius: 24px; border-color: blue">Guardar Pregunta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    

    
    <div class="row align-items-center text-center">
        <div class="col">
            <button onclick="submitExam()" class="btn rounded-button" type="submit" style="border-bottom-width: 2px; width: 30%; height: 50px; border-radius: 24px; border-color: green">Guardar Examen</button>
        </div>
    </div>
    
    
</div>