@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AtosLearning.Pages.ExamModel
@{
    ViewData["Title"] = "Crear examen";
}

<head>
    <link href="css/exam.css" rel="stylesheet" />
    <title>Examen</title>

</head>

<header class="min-vw-100 display-flex flex-row justify-content-between align-items-center px-5">
    <div class="my-flex-row">
        <div class="my-flex-column me-1">
            <h2 class="m-0 blue d-inline-block fs-1">AtosLearning</h2>
            <h4 class="yellow d-inline-block fs-">Crear examen</h4>
        </div>
        <div class="my-flex-column justify-content-center mb-1">
            <h5 class="blue">Profesores</h5>
        </div>

    </div>

    <div class="my-flex-row">
        <div class="my-flex-column align-items-center me-2">
            <h4>@Model.CurrentTeacher.Name @Model.CurrentTeacher.Surname</h4>
            <h5>Ver mi perfil</h5>
        </div>
        <div class="my-flex-column align-items-center justify-content-center">
            <img id="user-img" src="images/profile.png" alt="profile" />
        </div>
    </div>
</header>

<div class="container">
    <div class="row align-items-center">
        <div class="col text-center">
            <button type="button" class="btn rounded-button" style="width: 300px; height: 200px; border-color: #3B3468">Poner foto de portada</button>
        </div>
        <div class="col">
            <form method="post" asp-page-handler="SaveExam" id="exam-form">
            <input asp-for="ExamTitle" class="form-control exam-field" id="exam-title" placeholder="Nombre del examen">

            <input asp-for="ExamDescription" class="form-control exam-field" id="exam-description" placeholder="Descripción">
            </form>
            <input class="form-control" placeholder="Temario">
        </div>
        <div class="col">
            <label for="start">Fecha límite:</label><br />
            <input type="date" id="start" name="trip-start"
                   value="2023-06-12"
                   min="2023-06-12" max="2023-12-31">

            <form method="post" asp-page-handler="SetSelectedSubject" id="subject-form">
                <input type="hidden" name="ExamTitle" id="hidden-exam-title" value="@Model.ExamTitle"/>
                <input type="hidden" name="ExamDescription" id="hidden-exam-description" value="@Model.ExamDescription"/>
                <button class="btn btn-secondary btn-lg dropdown-toggle" id="subject-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @if (Model.SelectedSubject != null)
                    {
                        @Model.SelectedSubject.Name
                    }
                    else
                    {
                        <span>Selecciona una materia</span>
                    }
                </button>
                <ul class="dropdown-menu">
                    @foreach (var subject in Model.Subjects)
                    {
                        <li>
                            <button class="dropdown-item" onclick="onSelectDropdown()" name="subjectId" value="@subject.ID">@subject.Name</button>
                        </li>
                    }
                </ul>
            </form>
        </div>
    </div>
    <div class="row align-items-center text-center">
        <div class="col-4">
            <div class="card bg-light mx-auto" style="height: 300px; width: 200px; overflow-y:  auto; margin-left: 20px">
                <div class="card-body">
                    <ul class="btn list-group list-group-flush" id="questions-list">
                        <li class="list-group-item border-bottom" style="background-color: transparent">Pregunta 1</li>
                    </ul>
                </div>
            </div>
            <button class="btn rounded-button" onclick="addQuestion()">Añadir Pregunta</button>
        </div>
        <div class="col">
            <form method="post" asp-page-handler="AddQuestion">
                <div class="col">
                    <input asp-for="CurrentQuestion.Title" type="text" class="custom-text-field" placeholder="Escribe la pregunta">
                </div>
                <div class="container my-4">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Answers[0].Title" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: blue" placeholder="Opción A">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Answers[1].Title" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: green" placeholder="Opción B">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Answers[2].Title" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: orange" placeholder="Opción C">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                            <input asp-for="CurrentQuestion.Answers[3].Title" class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: red" placeholder="Opción D">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <select asp-for="CorrectAnswerIndex" class="dropdown-toggle btn-lg">
                            <option value="">Respuesta correcta</option>
                            <ul class="dropdown-menu">
                                @for (int i = 1; i < 5; i++)
                                {
                                    <option class="dropdown-item" value="@i">@i</option>
                                }
                            </ul>
                        </select>
                        <input type="hidden" name="ExamTitle" value="@Model.ExamTitle"/>
                        <input type="hidden" name="ExamDescription" value="@Model.ExamDescription"/>
                        <button class="btn rounded-button" type="submit" style="border-bottom-width: 2px; width: 30%; height: 50px; border-radius: 24px; border-color: blue">Guardar Pregunta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    

    
    <div class="row align-items-center text-center">
        <div class="col">
            <button onclick="submitExam()" class="btn rounded-button" type="submit" style="border-bottom-width: 2px; width: 30%; height: 50px; border-radius: 24px; border-color: green">Guardar Examen</button>
        </div>
    </div>
    
    
</div>