@page
@model AtosLearning.Pages.HomepageModel
@{
}


<head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <link href="css/homepage.css" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/swiper@8/swiper-bundle.min.css" rel="stylesheet" />
    <link href="css/carrusel.css" rel="stylesheet" />
</head>

<header class="min-vw-100 display-flex flex-row justify-content-between align-items-center px-5">
    <div class="my-flex-row">
        <div class="my-flex-column me-1">
            <h2 class="m-0 blue d-inline-block fs-1" onclick="location.href='/Homepage'" style="cursor:pointer;">AtosLearning</h2>
            <h4 class="yellow d-inline-block fs-">Home page</h4>
        </div>
        <div class="my-flex-column justify-content-center mb-1">
            @if (@Model.CurrentUser.IsTeacher)
            {
                <h5 class="blue">Profesores</h5>
            }
            else
            {
                <h5 class="blue">Alumnos</h5>
            }
        </div>
    </div>
    @if (@Model.CurrentUser.IsTeacher)
    {
        <div class="my-flex-row">
            <div class="my-flex-column align-items-center me-2">
                <h4>Código único</h4>
                <h5>@Model.CurrentUser.Course.Code</h5>
            </div>
        </div>
    }
    <div class="my-flex-row">
        <div class="my-flex-column align-items-center me-2">
            <h4>@Model.CurrentUser.Name @Model.CurrentUser.Surname</h4>
            <h5 data-bs-toggle="modal" data-bs-target="#ModalPerfil" style="cursor:pointer;">Ver mi perfil</h5>
            <div class="modal fade" id="ModalPerfil" tabindex="-1" aria-labelledby="ModaPerfilLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header display-flex justify-content-center">
                            <h5 class="modal-title text-center d-block" id="ModalPerfilLabel">¡ Hola  @Model.CurrentUser.Name !</h5>
                        </div>
                        <div class="modal-body">
                                <div class="mb-3">
                                    <p> Los datos de tu perfil son los siguientes:
                                        Tu nombre es @Model.CurrentUser.Name @Model.CurrentUser.Surname, 
                                        tu correo es @Model.CurrentUser.Email 
                                        y estas inscrito a un curso de manera exitosa.
                                    @if (@Model.CurrentUser.IsTeacher)
                                    {
                                        <p> Tu perfil es de tipo maestro </p>
                                    }
                                    else
                                    {
                                    <p> Tu perfil es de tipo alumno </p>
                                    }
                                    </p>

                                </div>
                                <div class="display-flex justify-content-end">
                                    <button type="button"  onclick="location.href='Index'" class="btn btn-danger">Cerrar sesión</button>
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Regresar</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="my-flex-column align-items-center justify-content-center">
            <img id="user-img" src="images/profile.png" alt="profile"/>
        </div>
    </div>
</header>


<div class="principal">
    <div class="row ">

            <div class="col-3 text-center align-content-start">
                @if (@Model.CurrentUser.IsTeacher)
                {
                    <button class="button-rectangle" onclick="location.href='/CrearExamen'">Crear examen</button>
                }
                else
                {
                    <img id="SpriteIdle" src="~/images/spriteIdle.png" alt="idlesprite"/>
                }
            </div>
        
        <div class="col-5 align-items-start">
                 <div class="columnabuscar">
                       <div class="row">
                            <h4>Buscar examen</h4><br />
                       </div>
                        <div class="row">
                            <input type="text" class="search-bar" placeholder="Buscar examen">
                        </div>
                        <div class="row">
                            <button class="buscar" onclick="performSearch()">Buscar</button>
                        </div>
                </div>
        </div>
        <div class="col-4" style="display: grid;padding: 20px 50px 20px 20px;align-content: center;justify-items: center;">
            <div class="row align-items-center" style="display:flex;">
                <h4>Materias</h4>
            </div>

            <div class="col align-items-start" style="display:flex;flex-wrap: wrap;justify-content: center;">
                    @foreach (var subject in Model.Subjects)
                    {

                    <!-- Button trigger modal -->
                    <button type="button" class="btn nombremateria" data-bs-toggle="modal" data-bs-target=@("#" + subject.Name.Substring(0,4))>@subject.Name</button>
                    <!-- Modal -->
                    <div class="modal fade" id=@subject.Name.Substring(0,4) tabindex="-1" aria-labelledby=@subject.ID.ToString() aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id=@subject.ID.ToString()>@subject.Name</h5>
                                </div>
                                <div class="modal-body">
                                    @subject.Description
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    }
            </div>

            <div class="row align-items-center" style="display:flex; justify-content:center;">
                @if (@Model.CurrentUser.IsTeacher)
                {
                    <button type="button" class="btn crearmateria" data-bs-toggle="modal" data-bs-target="#ModalCrear">Crear materia</button>
                    <!-- Modal -->
                    <div class="modal fade" id="ModalCrear" tabindex="-1" aria-labelledby="ModaCrearlLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header display-flex justify-content-center">
                                    <h5 class="modal-title text-center d-block" id="ModalCrearLabel">Crear materia</h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post" asp-page-handler="CreateSubject">
                                        <div class="mb-3">
                                            <label for="nombreMateria" class="form-label">Nombre de la materia</label>
                                            <input type="text" asp-for="NewSubjectName" class="form-control" id="nombreMateria" placeholder="Nombre">
                                        </div>
                                        <div class="mb-3">
                                            <label for="descripcionMateria" class="form-label">Descripción</label>
                                            <textarea type="textarea" asp-for="NewSubjectDescription" class="form-control" id="descripcionMateria" style="height: 120px" placeholder="Descripción"> </textarea>
                                        </div>
                                        <div class="display-flex justify-content-end">
                                            <div class="" style="padding-left: 65%">
                                                <button type="submit" class="btn btn-success">Crear</button>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    <!----------------------------------------------------->
   
<div class="row justify-content-between">
    <div class="col-4 text-start align-items-start">

        <h4>Exámenes con fecha futura</h4>
    </div>
    <div class="col-3 text-center align-content-end">
        <div class="col-3 text-center align-content-end">
            <form method="post" asp-page-handler="SetSelectedSubject" id="subject-form">
                <!-- Select to pass subject id to handler -->
                <select asp-for="@Model.SelectedSubject" onchange="this.form.submit()" name="subjectId">
                    <option value="">Todas las materias</option>
                    @foreach (var subject in @Model.Subjects)
                    {
                        <option value=@subject.ID>@subject.Name</option>
                    }
                </select>
            </form>
        </div>
    </div>
</div>
    <section id="tranding">
        <div class="container">
            <div class="swiper tranding-slider overflow-visible">
                <div class="swiper-wrapper">
                    <!-- Slide-start -->
                    @foreach (var Exam in Model.ActiveExams)
                    {
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="@Exam.ImageUrl" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <div class="tranding-slide-content-bottom" style="align-content:center;">
                                    @if (@Model.CurrentUser.IsTeacher)
                                    {
                                        <a asp-page="/resultado" asp-route-examid=@Exam.Id><h2 class="food-name">@Exam.Title</h2></a>
                                    }
                                    else
                                    {
                                        <a asp-page="/resultadoAlumno" asp-route-examid=@Exam.Id><h2 class="food-name">@Exam.Title</h2></a>
                                    }
                                    <h4 class="food-rating">
                                        <p> @Exam.DueDate </p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="tranding-slider-control mt-5">
                    <div class="swiper-button-prev slider-arrow">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="swiper-button-next slider-arrow">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
    </section>
    <h4>Exámenes con fecha pasada</h4>
    <section id="tranding">
        <div class="container">
            <div class="swiper tranding-slider overflow-visible">
                <div class="swiper-wrapper">
                    <!-- Slide-start -->
                    @foreach (var Exam in Model.ClosedExams)
                    {
                        <div class="swiper-slide tranding-slide">
                            <div class="tranding-slide-img">
                                <img src="@Exam.ImageUrl" alt="Tranding">
                            </div>
                            <div class="tranding-slide-content">
                                <div class="tranding-slide-content-bottom">
                                    @if (@Model.CurrentUser.IsTeacher)
                                    {
                                        <a asp-page="/resultado" asp-route-examid=@Exam.Id><h2 class="food-name">@Exam.Title</h2></a>
                                    }
                                    else
                                    {
                                        <a asp-page="/resultadoAlumno" asp-route-examid=@Exam.Id><h2 class="food-name">@Exam.Title</h2></a>
                                    }

                                    <h4 class="food-rating">
                                        <p> @Exam.DueDate </p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Slide-end -->
                </div>

                <div class="tranding-slider-control mt-5">
                    <div class="swiper-button-prev slider-arrow">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="swiper-button-next slider-arrow">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
    </section>

</div>
   
    <script src="lib/bootstrap/dist/js/bootstrap.js">
    </script>


<script>function performSearch() {
            var searchInput = document.querySelector(".search-bar").value;
            // Perform search logic with the searchInput value
            // Example: Display search results or perform an AJAX request
            console.log("Performing search for: " + searchInput);
        }
</script>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>

        var TrandingSlider = new Swiper('.tranding-slider', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            loop: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 2.5,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });

    </script>
