@page
@using System.Globalization
@model AtosLearning.Pages.resultadoAlumno


@{
}


<head>
    <meta charset="utf-8" />
    <title>Resultado</title>
    <link href="css/resultado.css" rel="stylesheet" />
    <link href="css/homepage.css" rel="stylesheet" />
</head>
<header class="min-vw-100 display-flex flex-row justify-content-between align-items-center px-5">
    <div class="my-flex-row">

        <div class="my-flex-column me-1">
            <h2 class="m-0 blue d-inline-block fs-1" onclick="location.href='/Homepage'" style="cursor:pointer;">AtosLearning</h2>
            <h4 class="yellow d-inline-block fs-">Resultados</h4>
        </div>
        <div class="my-flex-column justify-content-center mb-1">
            <h5 class="blue">Alumnos</h5>
        </div>
    </div>
    <div class="my-flex-row">
        <div class="my-flex-column align-items-center me-2">
            <h4>@(Model.CurrentUser.Name + " " + Model.CurrentUser.Surname)</h4>
            <h5>Ver mi perfil</h5>
        </div>
        <div class="my-flex-column align-items-center justify-content-center">
            <img id="user-img" src="images/profile.png" alt="profile"/>
        </div>
    </div>
</header>



<div class="text-center w-100 h-auto py-2 mb-3 "
     style="
      background-image: url('@Model.CurrentExam.ImageUrl');
     ">
    <h1 class="mb-0 d-inline py-1 px-2 rounded"
        style="
            background-color: rgba(0, 0, 0, 0.5);
        ">
        @Model.CurrentExam.Title
    </h1>
</div>

<body>
<div class="container">
    <div class="row mb-4">
        <div class="col container display-flex flex-row justify-content-center py-3 me-2" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);">
            <span class="fs-6 text-primary fw-bold d-block m-0">Fecha límite:</span>
            <span class="fs-7 text-dark d-block m-0">@Model.CurrentExam.DueDate.ToString("f", new CultureInfo("es-MX"))</span>
            <span class="fs-6 text-primary fw-bold d-block m-0">Descripción del examen:</span>
            <span class="fs-7 text-dark d-block m-0">@Model.CurrentExam.Description</span>
        </div>
        @if (@Model.CurrentExamSubmission != null)
        {
            <div class="col container display-flex flex-row justify-content-center py-3 ms-2" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);">
                <div class="row">
                    <span class="fs-4 text-primary fw-bold d-block m-0 text-center">Resultado</span>
                    <span class="fs-4 text-dark d-block m-0 text-center">@Model.CurrentExamSubmission.Score.ToString()</span>
                </div>
                <div class="row">
                    <span class="fs-6 text-primary fw-bold d-block m-0 text-center">Fecha de entrega</span>
                    <span class="fs-7 text-dark d-block m-0 text-center">@Model.CurrentExamSubmission.Date.ToString("f", new CultureInfo("es-MX"))</span>
                </div>
            </div>
        }
        else
        {
            <div class="col container display-flex flex-row justify-content-center py-3 ms-2" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);">
                <div class="row">
                    <span class="fs-4 text-primary fw-bold d-block m-0 text-center">Sin entrega</span>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col container display-flex flex-row justify-content-center py-3" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);">
            <div class="card w-100 mx-auto">
                <div class="card-header">
                    Tus respuestas: 
                </div>
                <div class="card-body">
                    <canvas id="answersChart"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript">
    var answersData = @Json.Serialize(Model.AnswersData);
    
    var answersChart = document.getElementById('answersChart').getContext('2d');
        var myAnswersChart = new Chart(answersChart,  {
            type: 'bar',
            data: {
                labels: answersData.map(function(answer) { return answer.question; }),
                datasets: [{
                    label: 'Respuestas incorrectas',
                    data: answersData.map(function(answer) { return answer.correct; }),
                    backgroundColor: 'rgba(242, 76, 61, 1.0)'
                    }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 1  ,
                            stepSize: 1        
                        }
                    }]
                }
            }
            });
</script>